<div class="card map-sticky" >
  <agm-map [latitude]="mapLat" [longitude]="mapLon" [zoom]="mapZoom" 
  (boundsChange)="areaChangedOnMap($event)"    (mapReady)="mapReady($event)"         
  >
  <!--            [visible]="true"-->
    <!--<agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">-->
      <!--<agm-get-map-objects (markerManager)="setMarkerManager($event)" (markers)="setMarkers($event)" (clusterManager)="setClusterManager($event)">-->
        <agm-marker *ngFor="let m of elencoPosizioniMostrate; let i = index; "
            (markerClick)="clickedMarker(m, i)"
            (mouseOver)="overMarker(m, i)"
            (mouseOut)="outOfMarker(m, i)"
            [latitude]="m.localizzazione.lat"
            [longitude]="m.localizzazione.lon"
            [visible]="m.visibile"            
            [openInfoWindow]="false"
            [iconUrl]="markerIconUrl(m)"
            [zIndex]="indiceMezzoSelezionato(m)"            
            data-toggle="tooltip" data-html="true" 
            title="{{m.toolTipText}}">    
            >
            <!--[visible]="posizioneMezzoSelezionata(m)"-->
            <!--            
            -->
            <!--
            <agm-info-window [disableAutoPan]="true">
                {{m.codiceMezzo}}
            </agm-info-window>
            -->
        </agm-marker>
      <!--</agm-get-map-objects>-->
    <!--</agm-marker-cluster>-->
</agm-map>
</div>
