<div class="card">
  <!--<agm-map [latitude]="mapLat" [longitude]="mapLon" [zoom]="mapZoom"
  (boundsChange)="areaChanged($event)"            
  -->
  <agm-map [latitude]="mapLat" [longitude]="mapLon" [zoom]="mapZoom"
  (boundsChange)="areaChangedOnMap($event)"            
  >
  <!--agm-map [latitude]="mapLat" [longitude]="mapLon" [zoom]="mapZoom"
  -->
    <!--agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">-->
      <!--<agm-get-map-objects (markerManager)="setMarkerManager($event)" (markers)="setMarkers($event)">-->
        <agm-marker *ngFor="let m of elencoPosizioniMostrate; let i = index; "
            (markerClick)="clickedMarker(m, i)"
            (mouseOver)="overMarker(m, i)"
            (mouseOut)="outOfMarker(m, i)"
            [latitude]="m.localizzazione.lat"
            [longitude]="m.localizzazione.lon"
            [openInfoWindow]="false"
            [iconUrl]="markerIconUrl(m)"
            [visible]="posizioneMezzoSelezionata(m)"
            [zIndex]="indiceMezzoSelezionato(m)"            
            data-toggle="tooltip" data-html="true" 
            title="{{m.toolTipText}}">    
            >
            <!--            [visible]="m.visibile"
            -->
            <!--
            <agm-info-window [disableAutoPan]="true">
                {{m.codiceMezzo}}
            </agm-info-window>
            -->
        </agm-marker>
      <!--</agm-get-map-objects>-->
    <!--</agm-marker-cluster>-->
  </agm-map>
</div>
