<?xml version="1.0" encoding="utf-8"?>
<!--
   <copyright file="Web.Release.config" company="CNVVF">
   Copyright (C) 2017 - CNVVF

   This file is part of VVFGeoFleet.
   VVFGeoFleet is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as
   published by the Free Software Foundation, either version 3 of the
   License, or (at your option) any later version.

   SOVVF is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program.  If not, see http://www.gnu.org/licenses/.
   </copyright>
-->

<!-- Per altre informazioni sull'utilizzo della trasformazione web.config, vedere https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    Nell'esempio seguente, la trasformazione "SetAttributes" modifica il valore di
    "connectionString" in modo da utilizzare "ReleaseSQLServer" solo quando il localizzatore "Match"
    individua un attributo "name" con valore "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--

      Nell'esempio seguente, la trasformazione "Replace" sostituisce l'intera
      sezione <customErrors> del file web.config.
      Poiché è presente un'unica sezione customErrors nel
      nodo <system.web>, non è necessario utilizzare l'attributo "xdt:Locator".

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
</configuration>
