<div class="card filtro">
    <div class="card-block">
      <h6>{{ titolo }}</h6>
      <div *ngFor="let v of vociFiltro">
        <label>
          <div *ngIf= "v.selezionato === true"> 
            <input type="checkbox" (click)="selezione($event, v.codice)" checked/> {{ v.descrizione }}
            <span class="badge badge-pill {{v.badgeCardinalita}}">{{ v.cardinalita }}</span>
          </div>
          <div *ngIf= "v.selezionato === false"> 
            <input type="checkbox" (click)="selezione($event, v.codice)"/> {{ v.descrizione }}
            <span class="badge badge-pill {{v.badgeCardinalita}}">{{ v.cardinalita }}</span>
          </div>
        </label>
      </div>
    </div>
</div>
