<h3>

</h3>
<!--

<div class="row h8">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
        <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-panel-0" >
            <ngb-panel title="Elenco Posizioni">
            <ng-template ngbPanelContent>
                    //<div class="area-elenco card card-inverse row_text p-1">
                    <div class="area-elenco">
                            <app-posizione-mezzo *ngFor="let r of elencoPosizioni" 
                                [posizioneMezzo]="r" 
                                [istanteUltimoAggiornamento]="istanteUltimoAggiornamento"
                                [filtriStatiMezzo]="filtriStatiMezzo"
                                [filtriSedi]="filtriSedi"
                                (mezzoSelezionato)="centraSuMappa($event)"
                                (mezzoSelezionato)="evidenziaSuMappa($event)"
                                ></app-posizione-mezzo>
                    </div>
            </ng-template>
            </ngb-panel>
            <ngb-panel title="Filtri">
            <ng-template ngbPanelContent>
                    <div>
                            <app-filtri [titolo]="titoloFiltroStatiMezzo" 
                            [vociFiltro]="vociFiltroStatiMezzo" 
                            (nuovaSelezione)="nuovaSelezioneStatiMezzo($event)"></app-filtri>
                            <app-filtro-multi-select-dd [titolo]="titoloFiltroSedi" 
                            [vociFiltro]="vociFiltroSedi" 
                            (nuovaSelezione)="nuovaSelezioneSedi($event)"></app-filtro-multi-select-dd>
                    </div>
            </ng-template>
            </ngb-panel>
            <ngb-panel title="Opzioni">
                <ng-template ngbPanelContent>
                        <p class="row_text p-1">Evidenzia sulla mappa l'ultima posizione ricevuta            
                            <ui-switch color="gray" switchColor="white" size="small" [(ngModel)]="centerOnLast"></ui-switch>            
                        </p>
                    </ng-template>
            </ngb-panel>
                
        </ngb-accordion>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">          
        <app-mappa-posizioni-flotta
            [elencoPosizioni]="elencoPosizioni" 
            [elencoPosizioniDaElaborare]="elencoUltimePosizioni" 
            [istanteUltimoAggiornamento]="istanteUltimoAggiornamento"
            [filtriStatiMezzo]="filtriStatiMezzo"
            [filtriSedi]="filtriSedi"            
            [mapLat]="startLat"
            [mapLon]="startLon"
            [mapZoom]="startZoom"
            [mezzoSelezionato]="mezzoSelezionato"
        >
        </app-mappa-posizioni-flotta>
    </div>
</div>


-->

<div class="row h8">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-4">
        <p-accordion>
            <p-accordionTab header="Elenco Posizioni" [selected]="true"
            data-toggle="tooltip" 
            title="Fai un doppio click su un Mezzo dell'elenco se vuoi seguirne gli spostamenti.">
                <div class="card card-inverse row_text p-1"
                data-toggle="tooltip" 
                title="Fai un doppio click su un Mezzo dell'elenco se vuoi seguirne gli spostamenti.">
                <app-posizione-mezzo *ngFor="let r of seguiMezziSelezionati" 
                        [posizioneMezzo]="r" 
                        [istanteUltimoAggiornamento]="istanteUltimoAggiornamento"
                        [filtriStatiMezzo]="vociFiltroStatiMezzo"
                        [filtriSedi]="vociFiltroSedi"
                        [filtriGeneriMezzo]="vociFiltroGeneriMezzo"
                        [filtriStatiMezzoCardinalita]="vociFiltroStatiMezzo.length"
                        [filtriSediCardinalita]="vociFiltroSedi.length"
                        [filtriGeneriMezzoCardinalita]="vociFiltroGeneriMezzo.length"
                        [isSeguiMezzo]="isSeguiMezzo"
                        (mezzoSelezionato)="centraSuMappa($event)"
                        (mezzoSelezionato)="evidenziaSuMappa($event)"
                        (mezzoDaSeguire)="rimuoviSeguiMezzo($event)"
                        ></app-posizione-mezzo>
                </div>
                <div class="area-elenco card card-inverse row_text p-1">
                            <app-posizione-mezzo *ngFor="let r of elencoPosizioni" 
                                [posizioneMezzo]="r" 
                                [istanteUltimoAggiornamento]="istanteUltimoAggiornamento"
                                [filtriStatiMezzo]="filtriStatiMezzo"
                                [filtriSedi]="filtriSedi"
                                [filtriGeneriMezzo]="filtriGeneriMezzo"
                                [filtriStatiMezzoCardinalita]="vociFiltroStatiMezzo.length"
                                [filtriSediCardinalita]="vociFiltroSedi.length"
                                [filtriGeneriMezzoCardinalita]="vociFiltroGeneriMezzo.length"
                                [isSeguiMezzo]="!isSeguiMezzo"
                                (mezzoSelezionato)="centraSuMappa($event)"
                                (mezzoSelezionato)="evidenziaSuMappa($event)"
                                (mezzoDaSeguire)="seguiMezzo($event)"
                                ></app-posizione-mezzo>
                    </div>
            </p-accordionTab>
            <p-accordionTab header="Filtri">
                    <div>
                            <app-filtri [titolo]="titoloFiltroStatiMezzo" 
                            [vociFiltro]="vociFiltroStatiMezzo" 
                            (nuovaSelezione)="nuovaSelezioneStatiMezzo($event)"></app-filtri>
                            <app-filtro-multi-select-dd [titolo]="titoloFiltroSedi" 
                            [vociFiltro]="vociFiltroSedi" 
                            (nuovaSelezione)="nuovaSelezioneSedi($event)"></app-filtro-multi-select-dd>
                            <app-filtro-multi-select-dd [titolo]="titoloFiltroGeneriMezzo" 
                            [vociFiltro]="vociFiltroGeneriMezzo" 
                            (nuovaSelezione)="nuovaSelezioneGeneriMezzo($event)"></app-filtro-multi-select-dd>
                    </div>
            </p-accordionTab>
            <p-accordionTab header="Opzioni">
                <div class="row col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="p-2 col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                        <label>Estrai solo le posizioni presenti sul riquadro della mappa</label>
                    </div> 
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                        <ui-switch color="gray" switchColor="white" size="small" [(ngModel)]="onlyMap"
                        (change)="changeOptOnlyMap('-')"></ui-switch>            
                    </div>                 
                    <div class="p-2 col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                        <label>Evidenzia sulla mappa l'ultima posizione ricevuta</label>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                        <ui-switch color="gray" switchColor="white" size="small" [(ngModel)]="centerOnLast"></ui-switch>            
                    </div>

                    <div class="p-2 col-xl-11 col-lg-11 col-md-11 col-sm-11 col-11">
                        <label>Segui un Mezzo sulla mappa</label>
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1">
                        <ui-switch color="gray" switchColor="white" size="small" [(ngModel)]="centerOnMezzo"
                        (change)="changeOptSeguiMezzo()"></ui-switch>
                    </div>
                    <div class="p-2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <p-dropdown  [options]="elencoPosizioni" 
                                [style] ="{minWidth:'20em'}"
                                disabled = "{{!centerOnMezzo}}"
                                optionLabel="descrizionePosizione"
                                [(ngModel)]="seguiMezziSelezionati[0]" filter="true">
                        </p-dropdown>
                        
                    </div>
                    <div class="p-2 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <label>Estrai le posizioni fino a {{ggMaxPos}} giorni fa</label>
                    </div>
                    <div class="p-2">
                        <p-slider [(ngModel)]="ggMaxPos"
                                [style]="{'width':'200px'}" [min]="1" [max]="30" [animate]="true"
                                (onSlideEnd)="fineSelezioneGgMaxPos($event)">
                        </p-slider>
                    </div>
                </div>
            </p-accordionTab>
        </p-accordion>                
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-8">          
        <app-mappa-posizioni-flotta
            [elencoPosizioni]="elencoPosizioni" 
            [elencoPosizioniDaElaborare]="elencoUltimePosizioni" 
            [elencoMezziDaSeguire]="seguiMezziSelezionati"
            [istanteUltimoAggiornamento]="istanteUltimoAggiornamento"
            [filtriStatiMezzo]="filtriStatiMezzo"
            [filtriSedi]="filtriSedi"            
            [filtriGeneriMezzo]="filtriGeneriMezzo"
            [filtriStatiMezzoCardinalita]="vociFiltroStatiMezzo.length"
            [filtriSediCardinalita]="vociFiltroSedi.length"
            [filtriGeneriMezzoCardinalita]="vociFiltroGeneriMezzo.length"
            [mapLat]="startLat"
            [mapLon]="startLon"
            [mapZoom]="startZoom"
            [mezzoSelezionato]="mezzoSelezionato"
            [reset]="reset"  
            [onlyMap]="onlyMap"
            (nuovaSelezioneArea)="selezioneArea($event)"
        >
        </app-mappa-posizioni-flotta>
    </div>
</div>

